<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet saepe at, porro nostrum delectus ullam voluptatem suscipit repudiandae quam consequuntur debitis maxime! Officia voluptatum atque ea dolore enim ipsam libero. Laudantium, explicabo quas. Rem maiores maxime veniam. Ducimus, modi alias.</h1>

<h2>{{fname}}</h2>

<input type="text" placeholder="Enter NAme" #nm>
<button (click)="onwel(nm)">Welcome</button>



<button (mouseover)="onwel(nm)">WelcomeChange</button>

<button (click)="onadd()"> Show Message</button>
<h1>{{msg}}</h1>