
<!-- <h1>My name is : {{myname}}</h1>

<button (click)="display()">open me</button>
<h4>my tittle name is  {{title}}</h4>

<app-home></app-home>
<img id="img2" src="{{imageurl}}" alt="wrong path">

<img [src]="waterurl" style="height: 200px;" alt="">
<app-products></app-products>
<app-about></app-about>

<app-mobiles></app-mobiles> -->

<!-- <app-contact></app-contact> -->
<!-- <app-user></app-user>
<app-classbinding></app-classbinding> -->
<app-twoway></app-twoway>
<app-directives></app-directives>